---
export interface Props {
   href: string;
   customStyle?: any;
   isFilled?: boolean;
   borderVisible?: boolean;
   classes?: string;
   target?: string;
}

const { href, classes, customStyle, isFilled, borderVisible, ...rest } = Astro.props as Props;
---

<a
   href={href}
   class:list={[
      classes,
      { filled: isFilled, bordered: borderVisible }
   ]}
   style={customStyle}
   {...rest}
>
   <slot />
</a>
