---
import { PostCard } from '@components/PostCard';
import { slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import type { Post } from 'types/utils';

export async function getStaticPaths() {
   const blogEntries = await getCollection('blog');
   const allAuthors = [
      ...new Set(blogEntries.map((post: Post) => post.data.author).flat()),
   ];

   return allAuthors.map((author) => {
      const authorPosts = blogEntries.filter((post: Post) => post.data.author === author);

      return {
         params: { author: slugify(author) },
         props: {
            authorName: author,
            posts: authorPosts,
         },
      };
   });
}

const { posts, authorName } = Astro.props;
---

<MainLayout title={authorName}>
   <section class="container" aria-label={`Posts by ${authorName}`}>
      <h1 class="h1">Posts by <span>{authorName}</span></h1>
      <div class="post-container">
         {
            posts.map((post: Post) => (
               <PostCard
                  {post}
               />
            ))
         }
      </div>
   </section>
</MainLayout>
