# Configure Netlify builds.
[build]
  publish = "dist/"
  command = "bun run build"
  functions = "netlify/functions"

# Request bots not to index the admin section.
[[headers]]
  for = "/admin/*"
  [headers.values]
    X-Robots-Tag = "noindex"
  #MANIFEST
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"