---
import TabTitle from './TabTitle.astro';

interface Props {
   tabTitles: string[],
   keys: string[],
   classes?: string
}

const { tabTitles, keys, classes = '' } = Astro.props;
---

<div class:list={[`tabs-container tabs ${classes}`]}>
   <nav class="tabs-nav">
      {
         tabTitles.map((tabTitle: string, index: number) => <TabTitle {tabTitle} {index} firstChecked={index === 0} />)
      }
   </nav>

   <div class="panels-container">
      {
         keys.map(async (key: string, index: number) => {
            return (
               <div class={`panel panel-${index}`}>
                  <Fragment set:html={Astro.slots.render('default', [key])} />
               </div>
            );
         })
      }
   </div>
</div>

<style>
   @for $i from 0 to 7 {
      .tabs-container:has(.radio-tab-$i:checked) .panel-$i {
         visibility: visible;
         display: inline-block;
         opacity: 1;
      }
   }

   .tabs-nav {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
      justify-content: center;
   }

   .panels-container {
      position: relative;
   }

   .panel {
      display: none;
      width: 100%;
      opacity: 0;
      visibility: hidden;
   }

   .tab-label {
      display: block;
      cursor: pointer;
   }

   .radio-tab {
      width: 0;
      height: 0;
      margin: 0;
      opacity: 0;
   }
</style>
