---

---

<div class="article-toolbar-container">
   <slot />
</div>

<style>
    .article-toolbar-container {
        display: flex;
        height: 55px;
        margin-top: 10px;
        border-top: 1px solid #ccc;
        bottom: 0;
        background-color: #222;
        position: sticky;
        padding: 0 10px;
        z-index: 80;
    }
</style>
