---

---

<div class="article-info-container">
   <slot />
</div>

<style>
    .article-info-container {
        display: flex;
        height: 55px;
        margin: 10px 0 15px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
</style>
