---
import { formatDate, readingTime } from '@js/utils';
import type { Post } from 'types/utils';

interface Props {
   post: Post;
}

const { post }: Props = Astro.props;
const { time } = readingTime(post.body);
---

<span class="reading-time"
>Lectura de {time} min - <span itemprop="datePublished">{formatDate(post.data.date.toString())}</span></span
>

<style>
   .reading-time {
      color: var(--color-lighter-grey);
      font-size: var(--fs-3sm);
   }
</style>
