---

---

<div class="article-tools"><slot /></div>

<style>
    .article-tools {
        display: flex;
        margin-left: auto;
        align-self: center;
        gap: 10px;
        cursor: pointer;
    }
</style>
