---

---

<div class="article-info-container">
   <slot />
</div>

<style>
    .article-info-container {
        display: flex;
        height: 55px;
        margin-top: 10px;
        border-top: 1px solid #ccc;
        bottom: 0;
        background-color: var(--bg-light-papaya);
        position: sticky;
    }
</style>
