%btn-green {
    background: $bg-green;
    border: 1px solid $bg-green;
    color: $bg-green;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      box-shadow: inset 1px 1px 10px rgb(0 0 0 / 30%);
    }
  }

  %btn-red {
    background: $bg-red;
    border: 0;
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      box-shadow: inset 1px 1px 10px rgb(0 0 0 / 30%);
    }
  }

  %btn-blue {
    background: $bg-blue;
    border: 0;
    color: white;
    padding: 5px 15px;
    font-size: 1em;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
    border-radius: 3px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      box-shadow: var(--shadow-md);
    }

    &:focus {
      box-shadow: inset 1px 1px 10px rgb(0 0 0 / 30%);
    }
  }

  %btn-grey {
    background: $bg-grey;
    border: 0;
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      box-shadow: inset 1px 1px 10px rgb(0 0 0 / 30%);
    }
  }

  %budget {
    max-height: 30px;
    width: 30px;
    position: absolute;
    color: white;
    font-size: 0.7778em;
    text-align: center;
    margin-left: -30px;
    margin-top: -15px;
  }

  .btn-green {
    @extend %btn-green;
  }

  .btn-red {
    @extend %btn-red;
  }

  .btn-blue {
    @extend %btn-blue;
  }

  .btn-grey {
    @extend %btn-grey;
  }