/* stylelint-disable at-mixin-pattern */
:root {
    /* Aside Navbar */
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #212123;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;

    /* ------- */
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%);

    /* colors */
    --bg-light-papaya: papayawhip;
    --hue: 235;
    --color-red: rgb(202 0 0);
    --color-dark: #212123;
    --color-darken-grey: #595959;
    --color-lighter-grey: #B0B0B0;
    --bg-green: #90c520;
    --bg-red: #d83c3c;
    --bg-blue: #006075;
    --bg-grey: #999;
    --bg-dark: #212123;
    --bg-000: 60 6.7% 97.1%;
    --bg-100: 50 23.1% 94.9%;
    --bg-200: 49 26.8% 92%;
    --bg-300: 49 25.8% 87.8%;
    --bg-400: 46 28.3% 82%;
    --bg-500: 47 27% 71%;

    /* Light Mode */
    --bkg-light: var(--hue) 25% 97%;
    --txt-light: var(--hue) 40% 5%;
    --accent-light-mode: var(--hue) 55% 50%;
    --muted-light: var(--hue) 30% 99%;

    /* Dark Mode */
    --bkg-dark: var(--hue) 15% 10%;
    --txt-dark: var(--hue) 20% 85%;
    --accent-dark-mode: var(--hue) 50% 50%;
    --muted-dark: var(--hue) 20% 2%;
    --bkg: var(--bkg-light);
    --txt: var(--txt-light);
    --accent-mode: var(--accent-light);
    --muted: var(--muted-light);
    --size-fluid-3: clamp(1rem, 3vw, 1rem);

    color-scheme: light;

    /* dynamic spacing adapted from utopia.fyi */
    --space-2xs: clamp(0.31rem, calc(0.18rem + 0.65vw), 0.69rem);
    --space-xs: clamp(0.56rem, calc(0.39rem + 0.87vw), 1.06rem);
    --space-sm: clamp(0.88rem, calc(0.70rem + 0.87vw), 1.38rem);
    --space-md: clamp(1.13rem, calc(0.80rem + 1.63vw), 2.06rem);
    --space-lg: clamp(1.69rem, calc(1.32rem + 1.85vw), 2.75rem);
    --space-xl: clamp(2.25rem, calc(1.60rem + 3.26vw), 4.13rem);
    --space-2xl: clamp(3.38rem, calc(2.64rem + 3.70vw), 5.50rem);
    --space-3xl: clamp(4.50rem, calc(3.20rem + 6.52vw), 8.25rem);

    /* content sizes */
    --content-xs: 20ch;
    --content-sm: 30ch;
    --content-md: 45ch;
    --content-lg: 65ch;

    /* dynamic font sizes adapted from utopia.fyi */
    --fs-4sm: clamp(0.78rem, calc(0.65rem + 0.5vw), 0.65rem);
    --fs-3sm: clamp(0.88rem, calc(0.75rem + 0.10vw), 0.75rem);
    --fs-2sm: clamp(0.98rem, calc(0.85rem + 0.15vw), 0.85rem);
    --fs-sm: clamp(1.1rem, calc(0.95rem + 0.22vw), 0.98rem);
    --fs-md: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);
    --fs-lg: clamp(1.35rem, calc(1.22rem + 0.64vw), 1.72rem);
    --fs-xl: clamp(1.94rem, calc(1.69rem + 1.29vw), 2.69rem);
    --fs-2xl: clamp(2.80rem, calc(2.31rem + 2.43vw), 4.20rem);

    /* line heights */
    --lh-1: 1;
    --lh-1-1: 1.1;
    --lh-1-4: 1.4;
    --lh-1-5: 1.5;
    --lh-1-6: 1.6;

    /* shadows adapted from https: //www.joshwcomeau.com/shadow-palette/ */
    --shadow-strength: .25;
    --shadow-saturation: 30%;
    --shadow-lightness: 62%;
    --shadow: var(--hue) var(--shadow-saturation) var(--shadow-lightness);
    --shadow-sm:
        0.2px 0.5px 0.1px hsl(var(--shadow) / var(--shadow-strength)),
        0.3px 0.8px 1px -1.2px hsl(var(--shadow) / var(--shadow-strength)),
        0.8px 1.9px 2.3px -2.5px hsl(var(--shadow) / var(--shadow-strength));
    --shadow-md:
        0.2px 0.5px 0.1px hsl(var(--shadow) / calc(var(--shadow-strength) + .04)),
        0.6px 1.5px 1.8px -0.8px hsl(var(--shadow) / calc(var(--shadow-strength) + .04)),
        1.6px 3.8px 4.6px -1.7px hsl(var(--shadow) / calc(var(--shadow-strength) + .04)),
        3.9px 9.3px 11.3px -2.5px hsl(var(--shadow) / calc(var(--shadow-strength) + .04));
    --shadow-lg:
        0.2px 0.5px 0.1px hsl(var(--shadow) / var(--shadow-strength)),
        1.1px 2.7px 3.3px -0.4px hsl(var(--shadow) / var(--shadow-strength)),
        2.1px 5px 6.1px -0.7px hsl(var(--shadow) / var(--shadow-strength)),
        3.5px 8.3px 10.1px -1.1px hsl(var(--shadow) / var(--shadow-strength)),
        5.6px 13.2px 16.1px -1.4px hsl(var(--shadow) / var(--shadow-strength)),
        8.7px 20.7px 25.3px -1.8px hsl(var(--shadow) / var(--shadow-strength)),
        13.3px 31.4px 38.4px -2.1px hsl(var(--shadow) / var(--shadow-strength)),
        19.6px 46.3px 56.6px -2.5px hsl(var(--shadow) / var(--shadow-strength));
    --shadow-bttm: 0 4px 2px -2px hsl(var(--shadow) / var(--shadow-strength));

    /* border */
    --border-sm: 1px;
    --border-md: 3px;
    --border-lg: 5px;

    /* radius */
    --radius-sm: 0.2em;
    --radius-md: 0.4em;
    --radius-lg: 0.8em;
    --radius-full: 100vmax;

    /* transitions */
    --tspeed-fast: 150ms;
    --tspeed-slow: 400ms;
    --ttiming-ease: cubic-bezier(.3, 0, .7, 1);
    --ttiming-squish: cubic-bezier(.5, -.3, .1, 1.5);
    --transition-ease-slow: var(--tspeed-slow) var(--ttiming-ease);
    --transition-ease-fast: var(--tspeed-fast) var(--ttiming-ease);
    --transition-squish-slow: var(--tspeed-slow) var(--ttiming-squish);
    --transition-squish-fast: var(--tspeed-fast) var(--ttiming-squish);
}
