---
export const prerender = true;
import Posts from '@components/postcard/Posts.astro';
import TagHeading from '@components/common/TagHeading.astro';
import { slugify, getPostsFor } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import { getCollectionFor } from '@js/server/utils';
import SectionContainer from '@components/section/SectionContainer.astro';

const isAdmin = !!Astro.cookies.get('isAdmin');

export async function getStaticPaths() {
   const blogEntries = await getCollection('blog');

   return blogEntries.map((entry) => ({
      params: { category: slugify(entry.data.category) },
   }));
}

const { category } = Astro.params;
const blogs = await getCollectionFor('blog', isAdmin, getCollection);
const catPosts = getPostsFor({
   propertyName: 'category',
   blog: blogs,
   property: String(category),
});
---

<MainLayout title={category}>
   <SectionContainer ariaLabel={`Posts about ${category}`}>
      <span>Publicaciones en la categoria:</span>
      <TagHeading classes="post-category" tag="h1">{category}</TagHeading>
      <Posts entries={catPosts} />
   </SectionContainer>
</MainLayout>

<style>
   .post-category {
      margin-bottom: 10px;
   }
</style>
