---
export const prerender = true;
import Posts from '@components/postcard/Posts.astro';
import TagHeading from '@components/common/TagHeading.astro';
import { slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import type { Post } from 'types/utils';

const isAdmin = !!Astro.cookies.get('isAdmin');

export async function getStaticPaths() {
   const blogEntries = await getCollection('blog', (entry) => !entry.data.is_private);

   return blogEntries.map((entry) => ({
      params: { category: slugify(entry.data.category) }, props: { blogEntries },
   }));
}

// 2. For your template, you can get the entry directly from the prop
const { category } = Astro.params;
const { blogEntries } = Astro.props;
const blogs = blogEntries.filter((entry: Post) => isAdmin ? entry : !entry.data.is_private);
const catPosts = blogs.filter((post: Post) => slugify(post.data.category) === category);
---
<MainLayout title={category}>
   <section class="container" aria-label={`Posts about ${category}`}>
      <span>Publicaciones en la categoria:</span>
      <TagHeading classes="post-category" tag="h1">{category}</TagHeading>
      <Posts entries={catPosts as Post[]} />
   </section>
</MainLayout>

<style>
   .post-category {
      margin-bottom: 10px;
   }
</style>