---
export const prerender = true;
import TagHeading from '@components/common/TagHeading.astro';
import Posts from '@components/postcard/Posts.astro';
import { slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import type { Post } from 'types/utils';

const isAdmin = !!Astro.cookies.get('isAdmin');

export async function getStaticPaths() {
   const blogEntries = await getCollection('blog');
   const blogTags = blogEntries.flatMap((entry: any) => entry.data.tags);

   return blogTags.map((tag: string) => ({
      params: { tag: slugify(tag) }, props: { blogEntries },
   }));
}


const { tag } = Astro.params;
const { blogEntries } = Astro.props;

const blogs = blogEntries.filter((entry: Post) => isAdmin ? entry : !entry.data.is_private);
const tagPosts = blogs.filter((entry: Post) => entry.data.tags.includes(tag as string));
---

<MainLayout title={tag}>
   <section class="container" aria-label={`Posts about ${tag}`}>
      <span>Publicaciones etiquetadas con:</span>
      <TagHeading classes="post-tags" tag="h1">{tag}</TagHeading>
      <Posts entries={tagPosts as Post[]} />
   </section>
</MainLayout>

<style>
   .post-tags {
      margin-bottom: 10px;
   }
</style>