---
export const prerender = true;
import TagHeading from '@components/common/TagHeading.astro';
import Posts from '@components/postcard/Posts.astro';
import { getCollectionFor } from '@js/server/utils';
import { getPostsFor, slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const isAdmin = !!Astro.cookies.get('isAdmin');

export async function getStaticPaths() {
   const blogs = await getCollection('blog');
   const blogTags = blogs.flatMap((entry: any) => entry.data.tags);

   return blogTags.map((tag: string) => ({
      params: { tag: slugify(tag) }
   }));
}

const { tag } = Astro.params;

const blogs = await getCollectionFor('blog', isAdmin, getCollection);
const tagPosts = getPostsFor(blogs, tag);
---

<MainLayout title={tag}>
   <section class="container" aria-label={`Posts about ${tag}`}>
      <span>Publicaciones etiquetadas con:</span>
      <TagHeading classes="post-tags" tag="h1">{tag}</TagHeading>
      <Posts entries={tagPosts} />
   </section>
</MainLayout>

<style>
   .post-tags {
      margin-bottom: 10px;
   }
</style>