:root {
	--font-fallback: -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif,
		apple color emoji, segoe ui emoji;
	--font-body: 'IBM Plex Sans', var(--font-fallback);
	--font-mono: 'IBM Plex Mono', consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
		'Nimbus Mono L', monaco, 'Courier New', courier, monospace;
	--color-white: #fff;
	--color-black: #000014;
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-blue: #3894ff;
	--color-blue-rgb: 56, 148, 255;
	--color-green: #17c083;
	--color-green-rgb: 23, 192, 131;
	--color-orange: #ff5d01;
	--color-orange-rgb: 255, 93, 1;
	--color-purple: #882de7;
	--color-purple-rgb: 136, 45, 231;
	--color-red: #ff1639;
	--color-red-rgb: 255, 22, 57;
	--color-yellow: #ffbe2d;
	--color-yellow-rgb: 255, 190, 45;

	color-scheme: light;

	--theme-accent: var(--color-orange);
	--theme-accent-rgb: var(--color-orange-rgb);
	--theme-accent-opacity: 0.1;
	--theme-divider: var(--color-gray-100);
	--theme-text: var(--color-gray-800);
	--theme-text-light: var(--color-gray-600);
	--theme-text-lighter: var(--color-gray-400);
	--theme-bg: var(--color-white);
	--theme-bg-offset: var(--color-gray-100);
	--theme-bg-accent: rgb(var(--theme-accent-rgb) var(--theme-accent-opacity));
	--theme-code-inline-bg: var(--color-gray-100);
	--theme-code-text: var(--color-gray-100);
	--theme-code-bg: var(--color-gray-700);
	--user-font-scale: 1rem - 16px;
	--max-width: calc(100% - 2rem);
}

/* body {
	background: var(--theme-bg);
	color: var(--theme-text);
} */

:root.theme-dark {
	color-scheme: dark;

	--theme-accent-opacity: 0.3;
	--theme-divider: var(--color-gray-900);
	--theme-text: var(--color-gray-200);
	--theme-text-light: var(--color-gray-400);
	--theme-text-lighter: var(--color-gray-600);
	--theme-bg: var(--color-black);
	--theme-bg-offset: var(--color-gray-900);
	--theme-code-inline-bg: var(--color-gray-800);
	--theme-code-text: var(--color-gray-200);
	--theme-code-bg: var(--color-gray-900);
}

::selection {
	color: var(--theme-accent);
	background-color: rgb(var(--theme-accent-rgb) var(--theme-accent-opacity));
}

@media (width >= 50em) {
	:root {
		--max-width: 40em;
	}
}

.article-content-wrapper {
	position: relative;

	ul, ol {
		margin-left: 20px;
	}

	small,
	.text_small {
		font-size: 0.833rem;
	}

	a > code {
		position: relative;
		color: var(--theme-accent);
		background: transparent;
		text-underline-offset: var(--padding-block);
	}

	a > code::before {
		content: '';
		position: absolute;
		inset: 0;
		display: block;
		background: var(--theme-accent);
		opacity: var(--theme-accent-opacity);
		border-radius: var(--border-radius);
	}

	strong {
		font-weight: 600;
		color: inherit;
	}

	.code-lang::before {
		content: attr(data-language);
		display: block;
		height: auto;
		position: absolute;
		right: 0;
		top: 0;
		border: 1px solid #ccc;
		padding: 4px;
		border-bottom-left-radius: 6px;
		background-color: #222;
		color: #f2f2f2;
	}

	/* Supporting Content */

	p code {
		--border-radius: 3px;
		--padding-block: 0.2rem;
		--padding-inline: 0.33rem;

		font-size: 0.85em;
		color: #f2f2f2;
		background-color: #24292e;
		padding: var(--padding-block) var(--padding-inline);
		margin: calc(var(--padding-block) * -1) -0.125em;
		border-radius: var(--border-radius);
		word-break: break-word;
	}

	pre.astro-code > code {
		all: unset;
	}

	pre {
		background: #f4f4f4;
		border: 1px solid #ddd;
		border-left: 3px solid #f36d33;
		position: relative;

		--padding-block: 1rem;
		--padding-inline: 2rem;

		counter-reset: line;
		padding: 15px 0;
		overflow-y: hidden;
		overflow-x: auto;
	}

	span.line{
		counter-increment: line;
	}

	span.line::before{
		content: counter(line);
		display: inline-block;
		color: white;
		width: 1em;
		margin: 0 10px;
	}

	code::before{
		user-select: none;
	}

	mark {
		background-color: gold;
	}

	.flex {
		display: flex;
		align-items: center;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 10px 0;
	}

	img.cover {
		width: 100%;
		max-height: 50vh;
		object-fit: cover;
	}

	blockquote {
		font-size: 1.5rem;

		--color: var(--color-red);

		color: transparent;
		text-shadow: 0 2px 3px rgb(255 255 255 / 80%);
		background-clip: text;
		background-color: #222;
		display: flex;
		flex-direction: column;
		padding-left: 1rem;
		margin-left: calc(var(--padding-inline) * -1);
		margin-right: calc(var(--padding-inline) * -1);
		border-left: .6rem solid var(--color);
		border-radius: 0;
	}

	blockquote .source {
		font-weight: 500;
		color: var(--color);
		font-size: 1rem;
	}

	.listen-article {
		border-color: transparent transparent transparent #f2f2f2;
		border-style: solid;
		border-width: 8px 0 7px 13px;
		box-sizing: border-box;
		cursor: pointer;
		height: 16px;
		transition: all 0.1s ease;
		will-change: border-width;
		display: block;

		&.pause {
			border-style: double;
			border-width: 0 0 0 13px;
		}
	}

	.tags-wrapper {
		display: flex;
	}

	.markdown-wrapper {
		padding-top: 20px;
		border-top: 1px solid #ccc;

		h2, h3, h4, h5, h6, pre {
			margin: 15px 0;
		}

		p {
			line-height: var(--lh-1-6);
		}
	}

	.markdown-link.external-link {
		display: inline-flex;
		align-items: flex-start;
		padding: 5px 0;
		gap: 5px;
	}

	.article-top-prev-next-wrapper {
		display: flex;
		justify-content: space-between;
		height: 25px;
		margin-top: 10px;
	}

	.article-main-heading {
		text-align: center;
		font-size: 3em;
		padding: 15px 0;
	}

	.article-main-heading-excerpt {
		font-weight: 200;
		color: #666;
		padding: 0 0 15px;
		text-align: center;
		line-height: 30px;
		font-size: 18px;
	}
}