:root {
	--font-fallback: -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif,
		apple color emoji, segoe ui emoji;
	--font-body: 'IBM Plex Sans', var(--font-fallback);
	--font-mono: 'IBM Plex Mono', consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
		'Nimbus Mono L', monaco, 'Courier New', courier, monospace;
	--color-white: #fff;
	--color-black: #000014;
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-blue: #3894ff;
	--color-blue-rgb: 56, 148, 255;
	--color-green: #17c083;
	--color-green-rgb: 23, 192, 131;
	--color-orange: #ff5d01;
	--color-orange-rgb: 255, 93, 1;
	--color-purple: #882de7;
	--color-purple-rgb: 136, 45, 231;
	--color-red: rgb(202 0 0);
	--color-yellow: #ffbe2d;
	--color-yellow-rgb: 255, 190, 45;

	color-scheme: light;

	--theme-accent: var(--color-orange);
	--theme-accent-rgb: var(--color-orange-rgb);
	--theme-accent-opacity: 0.1;
	--theme-divider: var(--color-gray-100);
	--theme-text: var(--color-gray-800);
	--theme-text-light: var(--color-gray-600);
	--theme-text-lighter: var(--color-gray-400);
	--theme-bg: var(--color-white);
	--theme-bg-offset: var(--color-gray-100);
	--theme-bg-accent: rgb(var(--theme-accent-rgb) var(--theme-accent-opacity));
	--theme-code-inline-bg: var(--color-gray-100);
	--theme-code-text: var(--color-gray-100);
	--theme-code-bg: var(--color-gray-700);
	--user-font-scale: 1rem - 16px;
	--max-width: calc(100% - 2rem);
}

:root.theme-dark {
	color-scheme: dark;

	--theme-accent-opacity: 0.3;
	--theme-divider: var(--color-gray-900);
	--theme-text: var(--color-gray-200);
	--theme-text-light: var(--color-gray-400);
	--theme-text-lighter: var(--color-gray-600);
	--theme-bg: var(--color-black);
	--theme-bg-offset: var(--color-gray-900);
	--theme-code-inline-bg: var(--color-gray-800);
	--theme-code-text: var(--color-gray-200);
	--theme-code-bg: var(--color-gray-900);
}

::selection {
	color: var(--theme-accent);
	background-color: rgb(var(--theme-accent-rgb) var(--theme-accent-opacity));
}

@media (width >= 50em) {
	:root {
		--max-width: 40em;
	}
}

.article-content-wrapper {
	position: relative;

	ul, ol {
		margin-left: 20px;

		& li {
			margin: 0.5em 0;
		}
	}

	small,
	.text_small {
		font-size: 0.833rem;
	}

	em {
		font-style: italic;
	}

	a code, li code, p code {
		position: relative;
		text-underline-offset: var(--padding-block);
		padding: calc(2px * 1) calc(4px * 1);
		font-size: var(--fs-3sm);
		word-break: break-word;
		background: #222;
		opacity: .6;
		border-radius: 4px;
		color: var(--color-gray-100);
		text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
	}

	strong {
		font-weight: 600;
		color: inherit;
		font-family: sans-serif;
	}

	.container-copyboard {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		position: absolute;
		right: 0;
		top: -2px;
		margin: 5px;
		color: #f2f2f2;
		cursor: pointer;
	}

	.copy-clipboard-code {
		width: 25px;
		height: 25px;
	}

	::selection {
		color: #f2f2f2;
		background: var(--color-red)
	}

	pre code {
		position:relative;
		all: unset;
	}

	.lang-code {
		background-color: var(--color-red);
		color: #fff;
		padding: 2px 4px;
		position: absolute;
		text-transform: uppercase;
		font-size: var(--fs-4sm);
		z-index: 1;
	}

	pre {
		background: #f4f4f4;
		border-left: 3px solid var(--color-red);
		position: relative;

		--padding-block: 1rem;
		--padding-inline: 2rem;

		counter-reset: line;
		padding: 35px 0 15px;
		overflow: auto hidden;
	}

	span.line{
		counter-increment: line;
	}

	span.line::before{
		content: counter(line);
		display: inline-block;
		color: white;
		width: 1em;
		margin: 0 10px;
	}

	code::before{
		user-select: none;
	}

	mark {
		background-color: gold;
	}

	.flex {
		display: flex;
		align-items: center;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 10px 0;
	}

	img.cover {
		width: 100%;
		max-height: 50vh;
		object-fit: cover;
	}

	blockquote {
		position: relative;
		font-size: 1.5rem;
		padding-left: .6rem;
		color: var(--color-darken-grey);
		border-left: .4rem solid var(--color-red);
		margin: 20px 0;

		ol li, ul li {
			font-size: var(--fs-2sm);
		}

		p {
			font-style: italic;
			text-align: left;
		}

		strong {
			text-shadow: none;
		}
	}

	blockquote .source {
		font-weight: 500;
		color: var(--color);
		font-size: 1rem;
	}

	.listen-article {
		border-color: transparent transparent transparent #f2f2f2;
		border-style: solid;
		border-width: 12px 0 12px 20px;
		box-sizing: border-box;
		cursor: pointer;
		height: 25px;
		transition: all 0.1s ease;
		will-change: border-width;
		display: block;

		&.pause {
			border-style: double;
			border-width: 0 0 0 13px;
		}
	}

	.category-containter {
		padding: 10px 0;
		margin: 10px 0;
		position: relative;

		.post-card-link-cat {
			border-bottom-right-radius: 0;
		}
	}

	.article-speech-container, .article-share-container {
		display: flex;
		align-items: center;
		height: 55px;
		width: 35px;
		justify-content: center;

		.xe-article-speech, .modal-button {
			height: 100%;
			display: flex;
			align-items: center;
		}
	}

	.markdown-wrapper {
		padding: 5px 20px;
		box-shadow: 0 0 10px -5px #999;
		margin-top: 20px;
		border-radius: 2px;

		h2 {
			border-bottom: 2px dashed #e2e2e2;
			line-height: 35px;
		}

		h3 {
			border-bottom: 2px dotted #e2e2e2;
			line-height: 25px;
			padding-bottom: 6px;
		}

		pre {
			margin: 5px 0;
		}

		h2, h3, h4, h5, h6 {
			margin: 15px 0;
		}

		p {
			line-height: var(--lh-1-6);
			margin: 1.3em 0;
		}
	}

	.markdown-link.external-link, .markdown-link.internal-link {
		display: inline-flex;
		align-items: center;
		gap: 5px;
	}

	.anchor-icon {
		color: #222;
	}

	.article-top-prev-next-wrapper {
		display: flex;
		justify-content: space-between;
		height: 25px;
		margin-top: 10px;
	}

	.article-main-heading {
		text-align: center;
		font-size: var(--fs-xl);
		padding: 15px 0;
	}

	.article-main-heading-excerpt {
		font-weight: 400;
		color: #333;
		padding: 0 0 15px;
		text-align: center;
		line-height: 30px;
		font-size: var(--fs-2sm);
	}
}
