@import "reset";
@import "partials/_buttons";
@import "partials/_root";
@import "tooltip";

html {
    scroll-behavior: smooth;
    scrollbar-gutter: auto;
}

html::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background: var(--color-dark);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

html::-webkit-scrollbar-thumb {
    background: var(--color-red);
    border-radius: 5px;
}

/* :root > * {
    display: none; <Toggle Theme should be activated in MainLayout.astro -->
} */

.light > * {
    display: block;
}

/* .dark {
    > * {
        display: block;
    }

    body {
        background-color: $bg-dark;
        color: $main-link-white;

        a[data-normal-link], a.logomark {
            color: $bg-blue;
            position: relative;
            transition: color .3s ease-in-out;
            text-decoration: none;

            &::before {
                content: '';
                position: absolute;
                top: 100%;
                width: 100%;
                height: 1px;
                background-color: $color-red;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }

            &:hover {
                color: var(--link-1);
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }
    }
} */

@font-face {
    font-family: 'Golos Text';
    font-display: fallback;
    src: url('/assets/fonts/golos-text-font-familiy/Golos-Text_Regular.woff') format('woff'),
        url('/assets/fonts/golos-text-font-familiy/Golos-Text_Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Golos Text Medium';
    font-display: fallback;
    src: url('/assets/fonts/golos-text-font-familiy/Golos-Text_Medium.woff') format('woff'),
        url('/assets/fonts/golos-text-font-familiy/Golos-Text_Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Golos Text Bold';
    font-display: fallback;
    src: url('/assets/fonts/golos-text-font-familiy/Golos-Text_Bold.woff') format('woff'),
        url('/assets/fonts/golos-text-font-familiy/Golos-Text_Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Golos Text Black';
    font-display: fallback;
    src: url('/assets/fonts/golos-text-font-familiy/Golos-Text_Black.woff') format('woff'),
        url('/assets/fonts/golos-text-font-familiy/Golos-Text_Black.ttf') format('ttf');
}

body {
    max-width: 1248px;
    background-color: hsl(var(--bkg));
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    font-family: 'Golos Text', "Lucida Grande", Tahoma, sans-serif;
    font-weight: normal;
    color: hsl(var(--txt));
    text-rendering: optimizelegibility;

    p {
        font-size: 16px;
    }

    a[data-normal-link] {
        color: var(--color-red);
        position: relative;
        transition: color .3s ease-in-out;
        text-decoration: none;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            height: 1px;
            background-color: var(--bg-blue);
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover {
            color: var(--link-1);
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
}

main {
    margin: 77px 0 0;
    padding: 0 10px;

    img {
        max-inline-size: 100%;
        block-size: auto;
        object-fit: cover;
        object-position: top center;
    }
}

@media screen and (width <= 500px) {
    main {
        padding: 0;
    }
}
