/* stylelint-disable at-mixin-pattern */

@import "reset";
@import '@fontsource/golos-text';
@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_buttons";
@import "partials/_root";

/* :root > * {
    display: none; <Toggle Theme should be activated in MainLayout.astro -->
} */

.light > * {
    display: block;
}

html::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }

  html::-webkit-scrollbar-track {
    background: var(--color-dark);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  html::-webkit-scrollbar-thumb {
    background: var(--color-red:);
    border-radius: 5px;
  }

/* .dark {
    > * {
        display: block;
    }

    body {
        background-color: $bg-dark;
        color: $main-link-white;

        a[data-normal-link], a.logomark {
            color: $bg-blue;
            position: relative;
            transition: color .3s ease-in-out;
            text-decoration: none;

            &::before {
                content: '';
                position: absolute;
                top: 100%;
                width: 100%;
                height: 1px;
                background-color: $color-red;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }

            &:hover {
                color: var(--link-1);
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }
    }
} */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    max-width: 1248px;
    background-color: var(--bg-light-papaya);
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    font-family: 'Golos Text', cursive;

    a[data-normal-link], a.logomark {
        color: $color-red;
        position: relative;
        transition: color .3s ease-in-out;
        text-decoration: none;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            height: 1px;
            background-color: $bg-blue;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover {
            color: var(--link-1);
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
}

main {
    margin: 15px 0 0;

    img {
        max-inline-size: 100%;
        block-size: auto;
        object-fit: cover;
        object-position: top center;
    }


    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        box-shadow: var(--shadow-md);
        height: 1px;
    }
}

.post-container {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: var(--size-fluid-3);
}

@media screen and (width <= 500px) {
    .logomark {
        margin-left: 45px;
    }

    header {
        position: sticky;
        top: 0;
        height: 50px;
        z-index: 100;
        width: 100%;
        background-color: var(--bg-light-papaya);
    }

    main {
        margin: 15px 0;
    }
}