@import "reset";
@import "partials/_buttons";
@import "partials/_root";
@import "tooltip";

html {
    scroll-behavior: smooth;
    scrollbar-gutter: auto;
    scroll-padding-top: 100px;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"apple color emoji","segoe ui emoji","Segoe UI Symbol","noto color emoji";
}

html::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background: var(--color-dark);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

html::-webkit-scrollbar-thumb {
    background: var(--color-red);
    border-radius: 5px;
}

.light > * {
    display: block;
}

body {
    max-width: 1248px;
    background-color: hsl(var(--bkg));
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    font-weight: normal;
    color: hsl(var(--txt));
    text-rendering: optimizelegibility;

    p {
        font-size: 16px;
    }

    a[data-normal-link] {
        color: var(--color-red);
        position: relative;
        transition: color .3s ease-in-out;
        text-decoration: none;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            height: 1px;
            background-color: var(--bg-blue);
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover {
            color: var(--link-1);
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }

    .error-wavy {
        color: var(--color-red);
        text-decoration: underline wavy;
        cursor: not-allowed;
        pointer-events: none;
    }
}

main {
    margin: 77px 0 0;
    padding: 0 10px;

    img {
        max-inline-size: 100%;
        block-size: auto;
        object-fit: cover;
        object-position: top center;
    }
}

#main-body .notecard {
    border-radius: 4px;
    box-shadow: var(--shadow-md);
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    background-color: var(--bg-blue);
    color: white;

    & p {
       margin: 0;
    }

    & a {
       color: white;
       text-decoration: underline;

       &:hover {
          text-decoration: none;
       }

       &::before {
          content: '';
          transform: none;
          height: 0;
       }
    }

    &::before {
       content: "ยก";
       position: absolute;
       left: 15px;
       border: 1px solid white;
       padding-left: 7px;
       padding-bottom: 5px;
       border-radius: 50%;
       width: 20px;
       height: 20px;
       font-size: 0.9em;
       display: flex;
       align-items: center;
       top: 32%;
    }
 }

 .notecard.note {
    background-color: var(--bg-blue);
 }

 .notecard.warning {
    background-color: var(--bg-red);
 }

@media screen and (width <= 500px) {
    main {
        padding: 0;
    }
}

@media screen and (width <= 350px) {
    .tabs-nav {
        flex-direction: column; /* Stack tabs vertically */
      }

      .tab-wrapper {
        width: auto; /* Allow tabs to take their natural width */
      }
}

