/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

/*
2. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

nav :where(ol, ul) {
    list-style: none;
}

/*
3. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
4. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
5. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* html {
 font-family: system-ui, sans-serif;
 background: #13151a;
 background-size: 224px;
} */
code {
    font-family:
        Menlo,
        Monaco,
        "Lucida Console",
        "Liberation Mono",
        "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono",
        "Courier New",
        monospace;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

 h1 { font-size: 2em; }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.3em; }
 h4 { font-size: 1em; }
 h5 { font-size: 0.8em; }
 h6 { font-size: 0.7em; }

/* @define-mixin button $bg, $color, $bgHover {
    background: $bg;
    border-color: $color;
    color: $color;

    &:hover, &:focus {
      background: $bgHover;
    }
} */