.tooltip {
	position: relative;
	text-align: center;
}

.tooltip::after {
	background-color: #333;
	border-radius: 10px;
	color: white;
	display: none;
	padding: 10px 15px;
	position: absolute;
	text-align: center;
	z-index: 999;
}

.tooltip::before {
	background-color: #333;
	content: ' ';
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: 999;
}

.tooltip:hover::after {
	display: block;
}

.tooltip:hover::before {
	display: block;
}

.tooltip[data-tooltip-placement="top"]::after {
	content: attr(title);
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 10px));
}

.tooltip[data-tooltip-placement="top"]::before {
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip[data-tooltip-placement="bottom"]::after {
	content: attr(title);
	bottom: 0;
	left: 50%;
	transform: translate(-50%, calc(100% + 10px));
}

.tooltip[data-tooltip-placement="bottom"]::before {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}

.tooltip[data-tooltip-placement="right"]::after {
	content: attr(title);
	top: 0;
	right: 0;
	transform: translateX(calc(100% + 10px));
}

.tooltip[data-tooltip-placement="right"]::before {
	top: 50%;
	right: 0;
	transform: translate(calc(100% + 5px), -50%) rotate(45deg);
}

.tooltip[data-tooltip-placement="left"]::after {
	content: attr(title);
	top: 0;
	left: 0;
	transform: translateX(calc(-100% - 10px));
}

.tooltip[data-tooltip-placement="left"]::before {
	top: 50%;
	left: 0;
	transform: translate(calc(-100% - 5px), -50%) rotate(45deg);
}