---
import { PostCard } from '@components/postcard';
import type { Post } from 'types/utils';
import { postsSaved, store } from '@js/savedPostsStore';
import { useStore } from '@nanostores/preact';

interface Props {
   entries: Post[],
   classes?: string;
}

const { entries, classes, ...rest } = Astro.props;
console.log('POSTS')
---

<div class:list={["posts-container", classes]} {...rest}>
   {entries.map((post) => <PostCard {post} />)}
</div>

<style>
   .posts-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: var(--size-fluid-3);
   }
</style>
