---
import { Image } from 'astro:assets';

const { href, src, alt, classes, ...rest } = Astro.props;
---

<a href={href} aria-hidden="true" tabindex="-1">
   <Image
      src={src}
      alt={alt}
      class:list={['post-card-img', classes]}
      {...rest}
   />
</a>

<style>
   .post-card-img {
      width: 100%;
      height: 55%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      box-shadow: var(--shadow-md);
   }
</style>
