<div class="post-card-details-container">
   <slot />
</div>

<style>
    .post-card-details-container {
        padding: 0 15px;
        display: flex;
        flex-flow: column;
        height: 45%;
        position: relative;
        justify-content: space-between;
        width: calc(100% - 200px);
        z-index: 2;
        flex-direction: column;
        margin-left: auto;

        & h3 a {
            word-break: break-word;
        }
        a[data-normal-link] {
            &::before {
                content: "";
            }
            &:hover::before {
                transform: scaleX(0);
            }
        }
    }

    @media screen and (width <= 650px) {
		.post-card-details-container {
			margin-top: 20px;
            width: 100%;
		}
	}
</style>
