---
import Button from '@components/common/button/Button.astro';
import { Icon } from 'astro-icon';
import type { Post } from 'types/utils';

interface Props {
    title: string;
    post: Post;
}

const { title, post } = Astro.props;
---

<div class="post-card-save">
   <Button
      data-tooltip-placement="top"
      classes="save-post tooltip"
      aria-label={`Guarda: ${title}`}
      data-saveid={`/blog/${post.slug}`}
      text="Guardar publicación"
   >
      <Icon name="uil:save" height="22" width="22" />
   </Button>
</div>

<style>
    .post-card-save {
        position: absolute;
        right: 0;
        cursor: pointer;
        background-color: #222;
        top: -46px;
        border-top-left-radius: 8px;
        padding: 9px;

        .save-post {
            color: #fefefe;
        }
    }
</style>
