---
import PostCardTag from './PostCardTag.astro';

interface Props {
   tags: [];
   tagCounts?: object;
   classes?: string;
}
const { tags, tagCounts, ...rest } = Astro.props;
---

<div class="post-card-tags">
   {
      tags.map((tag: string) => {
         const count = (tagCounts && tagCounts[tag]) || '0';

         return (
            <span class="tag-container">
               <PostCardTag {tag} data-number-tag={count} {...rest} />
               {tagCounts && <span class="tag-count">{count}</span>}
            </span>
         );
      })
   }
</div>

<style>
   .post-card-tags {
      width: 100%;
      overflow: hidden;
   }
   .tag-container {
      position: relative;
      .tag-count {
         color: transparent;
         text-shadow: 0 2px 3px rgb(255 255 255 / 80%);
         background-clip: text;
         background-color: #222;
         border: 2px solid #999;
         border-radius: 2em;
         padding: 0 7px;
         margin-left: -3px;
         vertical-align: middle;
         margin-right: 10px;
      }
   }
</style>
