---
interface Props {
    excerpt: string;
}
const { excerpt } = Astro.props;
---

<p class="card-excerpt">{excerpt}</p>

<style>
    .card-excerpt {
        color: var(--color-darken-grey);
        font-size: var(--fs-3sm);
        margin: 5px 0;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
