---
import { PostCard } from '@components/postcard';
import type { Post } from 'types/utils';

interface Props {
   entries: Post[]
}

const { entries } = Astro.props;
---

<div class="posts-container">
   {entries.map((post) => <PostCard {post} />)}
</div>

<style>
   .posts-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: var(--size-fluid-3);
   }
</style>
