---
import PostCardTag from './PostCardTag.astro';

interface Props {
    tags: [];
}
const { tags } = Astro.props;
---
<div class="post-card-tags">
   {
      tags.map((tag: string) => {
         return (
            <PostCardTag {tag} />
         );
      })
   }
</div>

<style>
    .post-card-tags {
         display: flex;
         padding: 10px 0;
         bottom: 5px;
         width: 92%;
         overflow: hidden;
      }
</style>
