---
import Link from '@components/Link.astro';
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/404-data.json';
---

<MainLayout title={data.title} description={data.description}>
   <div class="container" style={{
      display: 'grid',
      placeItems: 'center',
      textAlign: 'center',
      gap: 'var(--space-sm)'
   }}>
      <div>
         <h1>Ooppss!! Al ha ocurrido!</h1>
         <p>Puede que la página que busque no existe...</p>
         <Link href='/' text='Volver a Inicio' style="primary" classes="btn-blue" />
      </div>
   </div>
</MainLayout>
<style>
   .primary {
      margin: 40px 0;
      display: inline-block;
   }
</style>