---
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/contactPage.json';
---

<MainLayout title={data.title} description={data.description}>
   <p>Contact</p>
</MainLayout>