---
import { isPlainString } from '@js/utils';
import { Icon } from 'astro-icon';

interface Props {
  id: string;
  ariaLabel: string;
  classes?: string;
  modalBtnClass?: string;
}
const { id, classes, ariaLabel, modalBtnClass } = Astro.props;

if (!isPlainString(id)) {
   throw new Error('Invalid Props: id must be a plain string.');
}
---

<button
   onclick={`window.${id}.showModal()`}
   class:list={['btn-modal', modalBtnClass]}><slot name="open-modal" /></button
>

<dialog
   id={id}
   class="dialog-container"
   class:list={classes}
   aria-label={ariaLabel}
>
   <header class="modal-header">
      <slot name="modal-title" />
   </header>
   <section>
      <slot name="modal-main" />
   </section>
   <footer>
      <slot name="modal-footer" />
   </footer>
   <form method="dialog">
      <button class="close-btn-modal" aria-label="Close Modal">
         <Icon
            name="ep:close"
            height={22}
            width={22}
            class="close-btn-modal-icon"
            alt="Close Modal"
            slot="close"
         />
      </button>
   </form>
</dialog>

<style is:inline>
  html:has(dialog[open]) #main-body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  @keyframes fadeOpacityIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  dialog {
    border: 0;
    opacity: 0;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    overflow-y: auto;
    &::backdrop {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.9);
    }
  }

  dialog[open] {
    transition: opacity 1s;
    animation: fadeOpacityIn 1s forwards;
    cursor: auto;
  }
  .dialog-container {
    position: relative;
    padding: 15px;
    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
    }
  }
  .close-btn-modal {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    .close-btn-modal-icon {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
</style>
