---
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
import DemosLayout from '@layouts/demos/DemosLayout.astro';
import Tabs from '@xexiu/astro-tabs';

const blogs = {
   latest: [
      {
         id: 1,
         title: 'Test 1',
         description: 'This is a text for tab 1: Hae duae provinciae bello quondam piratico catervis mixtae praedonum a Servilio pro <a href="#focusable">focusable link for test</a> consule missae sub iugum factae sunt vectigales. et hae quide'
      }
   ],
   pinned: [
      {
         id: 1,
         title: 'Test 2',
         description: 'This is a text for tab 2: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, iste, ducimus eum sapiente omnis qui rerum quidem veniam esse deleniti facilis excepturi porro! Voluptatibus consectetur maxime blanditiis voluptate distinctio fugit.'
      }
   ],
   private: [
      {
         id: 1,
         title: 'Test 3',
         description: 'This is a text for tab 3: More content!'
      }
   ]
};
const keys = Object.keys(blogs); // ['latest', 'pinned', 'private']
---
<DemosLayout
   title="Astro Tabs Example"
   description="Pure HTML and CSS simple dynamic tabs for astro."
   githubLink="https://github.com/xexiu/astro-components/tree/master"
>
   <Breadcrumbs
      slot="breadcrumb"
      links={[
         { name: 'Demos', path: '/demos' },
         { name: 'Astro Components Demos', path: '/demos/astro' },
         {
            name: 'Astro Tabs Demo',
            path: '/demos/astro/tabs',
            linkIsActive: 'is-active'
         }
      ]}
   />

   <Tabs
      {keys}
      tabTitles={['Title for Latest', 'Title for Private', 'Title for Pinned']}
   >
      {
         (key: string) => {
            return (
               <Fragment>
                  <div>
                     {blogs[key].map((blog: any) => (
                        <div>
                           {blog.title}
                           <div>{blog.description}</div>
                        </div>
                     ))}
                  </div>
               </Fragment>
            );
         }
      }
   </Tabs>
</DemosLayout>
