---
import { Link } from '@components/common/link';
---

<meta itemprop="numberOfItems" content="1" />
<li
   aria-label="Blog Item"
   itemprop="itemListElement"
   itemscope
   itemtype="https://schema.org/ListItem"
>
   <Link
      href="/blog"
      icon={{
         name: 'codicon:run-all',
         side: 'right',
         width: '46',
         height: '46'
      }}
      aria-label="Blog Link"
      target="_blank"
      title="Blog"
   />
   <meta property="position" content="1" />
</li>

<style is:inline>
    .landing-menu {
        list-style: none;
    }

    .landing-menu li {
        display: inline-block;
        padding: 0 5px;
    }

    .landing-menu li a {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        color: #f2f2f2;
        filter: drop-shadow(5px 10px 4px #222);

        &:hover {
            transition: all 0.3s ease 0s;
            filter: drop-shadow(10px 10px 4px #222);
        }
    }
</style>
