.header-main-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

#click {
    display: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 5px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    color: #f2f2f2;

    &:hover {
        cursor: pointer;
        box-shadow: var(--shadow-md);
    }
}


html[data-current-page="/"] {
    .nav__links li a[href='/'] {
        color: #00C2DB;
        border-radius: 20px;
        box-shadow: var(--shadow-md);
        border: 1px solid #000;
    }
}

html[data-current-page*="/blog"] {
    .nav__links li a[href*='/blog'] {
        color: #00C2DB;
        border-radius: 20px;
        box-shadow: var(--shadow-md);
        border: 1px solid #000;
    }
}

.menu-btn {
    color: #fefefe;
    display: none;
    cursor: pointer;
    padding-left: 10px;
}

.logo-img {
    max-width: 100%;
    height: auto;
}

 /* HIDE PROGRESS BAR WHEN MENU OPEN */
#main-body:has(#click:checked) .progress-bar {
    display: none;
    visibility: hidden;
    height: 0;
}

 /* ----------- */

/* DISABLE SCROLL WHEN MENU OPEN */
#main-body:has(#click:checked) {
    overflow: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    inset: 0;
}

 /* ------------ */

@media screen and (width <= 500px) {
    #main-body:has(#click:checked) .menu-btn {
        right: 10px;
    }
}

@media screen and (width <= 650px) {
    #main-body:has(#click:checked) .header-main-nav {
        width: 100%;
    }

    [data-main-nav] .nav__links {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #222;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition-property: background-color, left;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        z-index: 101;
    }

    #click:not(:checked) ~ [data-main-nav] .nav__links {
        left: -100%;
    }

    #click:checked ~ [data-main-nav] .nav__links {
        left: 0%;
        padding-top: 20px;
    }

    [data-main-nav] .nav__links li {
        display: block;
        margin-top: 40px;
    }

    #click:checked ~ .menu-btn {
        position: fixed;
        transform: rotate(55deg);
        transition: all .3s;
    }

    .menu-btn {
        display: flex;
        margin-left: auto;
        top: 13px;
        right: 20px;
        z-index: 1000;
        transition: all .3s;
    }
}
