---
// import { Icon } from 'astro-icon';
import './main-nav.css';
import LandingLinks from '@layouts/nav/LandingLinks.astro';
import PageLinks from '@layouts/nav/PageLinks.astro';
---

<!-- <input type="checkbox" id="click" />
<label for="click" class="menu-btn">
   <Icon name="jam:menu" height="36" width="36" />
</label> -->

<nav
   class=`${Astro.url.pathname === '/' ? 'landing-header-main-nav' : 'header-main-nav'}`
   aria-label="Navagación Principal"
   data-main-nav
   role="navigation"
   vocab="https://schema.org/"
>
   <ul
      class=`${Astro.url.pathname === '/' ? 'landing-menu' : 'nav__links'}`
      itemtype="https://schema.org/ItemList"
   >
      {Astro.url.pathname === '/' ? <LandingLinks /> : <PageLinks />}
   </ul>
</nav>
