---
import { Link } from '@components/common/link';
import data from '@schemas/main-nav-data.json';
import { Icon } from 'astro-icon';
import './main-nav.css';
---

<input type="checkbox" id="click" />
<label for="click" class="menu-btn">
   <Icon name="jam:menu" height="36" width="36" />
</label>

<nav class="header-main-nav" aria-label="Navagación Principal" data-main-nav>
   <ul class="nav__links">
      {
         data.map((item) => {
            return (
               <li>
                  <Link
                     text={item.name}
                     href={item.path}
                     isFilled={false}
                     data-navLink
                     aria-label={item.name}
                     classes='top-link'
                     data-has-items="false"
                     data-saved-items="0"
                  />
               </li>
            );
         })
      }
   </ul>
</nav>
