.header-main-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

#click {
    display: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 5px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    color: #f2f2f2;

    &:hover {
        cursor: pointer;
        box-shadow: var(--shadow-md);
    }
}

.menu-btn {
    color: #fefefe;
    display: none;
    cursor: pointer;
    padding-left: 10px;
}

.logo-img {
    max-width: 100%;
    height: auto;
}

@media screen and (width <= 650px) {
    .header-main-nav .header-social-icons {
        display: none;
    }

    [data-main-nav] .nav__links {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #222;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 101;
    }

    #click:not(:checked) ~ [data-main-nav] .nav__links {
        left: -100%;
    }

    #click:checked ~ [data-main-nav] .nav__links {
        left: 0%;
    }

    #click:checked ~ [data-main-nav] .header-social-icons {
        display: flex;
        left: calc(5px - 71vw);
        position: absolute;
        z-index: 102;
        bottom: calc(70px - 100vh);
    }

    [data-main-nav] .nav__links li {
        display: block;
        margin-top: 40px;
    }

    #click:checked ~ .menu-btn {
        position: fixed;
    }

    .logo {
        z-index: 102;
    }

    .menu-btn {
        display: flex;
        margin-left: auto;
        top: 13px;
        right: 20px;
        z-index: 1000;
    }
}