---
import { Code } from 'astro:components';

const { lang, code } = Astro.props;

function getLineNumbers(code: string): number[] {
   return code.split('\n').map((_, index) => index + 1);
}

const lineNumbers = getLineNumbers(code);
---

<div style="position: relative">
   <Code code={code} lang={lang} />
   <small data-lines={lineNumbers} class="code-lang" data-language={lang}></small>
</div>
