---
interface Props {
    copyright?: string;
}
const { copyright = new Date().getFullYear().toString() } = Astro.props;
---

<xe-footer-copyright>
    Copyright &copy; <span id="copyright">{copyright}</span> | Todos los derechos reservados
</xe-footer-copyright>

<script>
    import { CopyrightFooter } from '@js/custom-elements';

    customElements.define('xe-footer-copyright', CopyrightFooter);
</script>
