---
import logo from '../../public/logo-min.png';
import CommonImage from './CommonImage.astro';
---

<p class="logo"><a href="/" aria-label="Inicio"><CommonImage src={logo} alt="Logo" width={100}  height={70}/></a></p>

<style>
    .logo {
      font-size: 18px;
      font-weight: 600;
      & img {
        display: flex;
      }
   }
</style>
