<a href="/" aria-label="Inicio" title="Xe Logo" class="logo"
   style="background-image: url(/assets/images/logo-min.png); background-size: cover;
background-position: center center;">
</a>
<slot name="search-bar" slot="search-bar" />

<style>
   .logo {
      display: block;
      width: 100px;
      height: 62px;
      z-index: 102;
   }
</style>
