---
import logo from '../../public/assets/images/logo-min.png';
import CommonImage from '@components/CommonImage.astro';
---

<p class="logo">
   <a href="/" aria-label="Inicio"
   ><CommonImage
         classes="logo-img"
         src={logo}
         alt="Logo"
         width={150}
         height={93}
      /></a
   >
</p>
<slot name="search-bar" slot="search-bar" />

<style>
   .logo {
      display: block;
      width: 100px;
      height: 62px;
      z-index: 102;

      img {
         width: 100%;
         height: 100%;
      }
   }
</style>
