---
import logo from '../../public/logo-min.png';
import CommonImage from './CommonImage.astro';
---

<p class="logo">
   <a href="/" aria-label="Inicio"
   ><CommonImage
         classes="logo-img"
         src={logo}
         alt="Logo"
         width={100}
         height={62}
      /></a
   >
</p>
