<a href="/" class="logomark" aria-label="Go home">
   <div class="tild-wrapper">
      <span class="tild">~</span>
      <span class="tild-sep">/</span>
      <span class="tild-name">xe</span>
   </div>
</a>

<style>
    .tild-wrapper {
        font-size: var(--fs-xl);
        font-family: math;
        font-weight: bold;
        text-shadow:
            -1px -1px 1px rgba(255, 255, 255, 0.1),
            1px 1px 1px rgba(0, 0, 0, 0.5);
        .tild {
            color: rgb(217, 13, 13);
        }
    }
    .logomark {
    color: black;
    text-decoration: none;
    }
</style>
