.dark .nav-button[aria-current="page"], .light .nav-button[aria-current="page"] {
    color: rgb(217 13 13);
    text-shadow: 0 0 5px rgb(217 13 13);
}

.nav-button[aria-current="page"] {
    color: rgb(217 13 13);
    text-shadow: 0 0 5px rgb(217 13 13);
}

#nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px);
}

#nav-toggle:checked ~ #nav-content,
#nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min);
}

#nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

#nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
    left: calc(50% - 5px);
    transform: translate(-50%);
}

#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
}

#nav-toggle:checked ~ #nav-header #nav-toggle-burger::before,
#nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
    width: 16px;
    background: var(--navbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
}

#nav-toggle:checked ~ #nav-content .nav-button span {
    opacity: 0;
    transition: opacity 0.1s;
    height: 0;
    visibility: hidden;
}

#nav-toggle:checked ~ #nav-content .nav-button .fas {
    min-width: calc(100% - 16px);
}

#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
}

#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox,
#nav-toggle:checked ~ #nav-footer label[for="nav-footer-toggle"] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}

.dark #nav-bar {
    box-shadow: var(--shadow-md);
}

#nav-bar {
    z-index: 100;
    position: fixed;
    margin-left: -100px;
    top: 80px;
    max-height: calc(100vh - 100px);
    min-height: 200px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
    box-shadow: var(--shadow-lg);
    opacity: 0.8;
    transition: all 1s;

    &:hover {
        opacity: 1;
        transition: all 1s;
    }
}

#nav-bar hr {
    margin: 0;
    position: relative;
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
}

#nav-bar a {
    color: inherit;
    text-decoration: inherit;
}

#nav-bar input[type="checkbox"] {
    display: none;
}

#nav-header {
    top: 5px;
    position: relative;
    background-color: #212123;
    left: 13px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 30px;
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
}

#nav-header hr {
    position: absolute;
    bottom: 0;
}

#nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
}

label[for="nav-toggle"] {
    position: absolute;
    right: -5px;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#nav-toggle-burger {
    position: relative;
    width: 16px;
}

#nav-toggle-burger::before,
#nav-toggle-burger::after {
    content: "";
    position: absolute;
    top: -6px;
    width: 20px;
    height: 5px;
    background-color: var(--bg-light-papaya);
    border-radius: 99px;
    transform: translate(2px, 4px) rotate(32deg);
    transition: 0.2s;
}

#nav-toggle-burger::after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-32deg);
}

#nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;

    & ul {
        margin-top: 15px;
    }
}

#nav-content::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

#nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: rgb(217 13 13);
}

#nav-content::-webkit-scrollbar-button {
    height: 3px;
}

#nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
}

#nav-content-highlight::before,
#nav-content-highlight::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
}

#nav-content-highlight::after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
}

.nav-button {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    height: 54px;
    display: flex;
    align-items: stretch;
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;

    .link.primary {
        display: flex;
        line-height: 20px;
        align-self: center;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;

        & svg {
            margin-left: 9px;
        }
    }
}

.nav-button span {
    transition: opacity .1s;
}

.nav-button .fas {
    transition: min-width 0.2s;
}

.dark .nav-button:nth-of-type(n):hover {
    color: rgb(217 13 13);
    text-shadow: 0 0 5px rgb(217 13 13);
}

.nav-button:nth-of-type(n):hover {
    color: rgb(217 13 13);
    text-shadow: 0 0 5px rgb(217 13 13);
}

#nav-bar .fas {
    min-width: 3rem;
    text-align: center;
}

#nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition:
        width 0.2s,
        height 0.2s;
}

#nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

#nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 20px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
}

#nav-footer-avatar img {
    height: 100%;
}

#nav-footer-titlebox {
    position: relative;
    margin-left: 29px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
}

#nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: 0.6rem;
}

#nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px;
}

#nav-footer-toggle:checked + #nav-footer label[for="nav-footer-toggle"] {
    transform: rotate(180deg);
}

label[for="nav-footer-toggle"] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition:
        transform 0.2s,
        opacity 0.2s;
}

#nav-footer-content {
    margin: 0 16px 16px;
    color: var(--navbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
}

#nav-footer-content::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

#nav-footer-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: rgb(217 13 13);
}

[astro-icon="icon-park:up"] path{
    stroke: white;
}

@media screen and (width <= 500px) {
    #nav-bar {
        top: 2px;
        max-height: 100%;
        min-height: 0;
        margin-left: -15px;
        box-shadow: none;

        #nav-content {
            margin: -16px 0;
        }

        #nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
            opacity: 0;
            margin: -16px -75px;
        }

        #nav-header {
            background: transparent;
        }
    }
}