---
import data from '@schemas/sidebar-data.json';
// import { Icon } from 'astro-icon';
import './sidebar.css';
import { Link } from '@components/common/link';
---

<xe-sidebar aria-label="sidebar" id="nav-bar">
   <input id="nav-toggle" type="checkbox" checked />
   <div id="nav-header">
      <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
   </div>
   <nav id="nav-content" aria-label="Sidebar Navigation">
      <ul aria-label="Sidebar Navigation Links">
         {
            data.map((item) => (
               <li class="nav-button">
                  <Link
                     icon={{
                        name: item.iconName,
                        side: 'left',
                        width: '18',
                        height: '18',
                        class: 'fas',
                     }}
                     text={item.name}
                     href={item.path}
                     isFilled={false}
                     data-sidebarLink
                     aria-label={item.name}
                  />
               </li>
            ))
         }
      </ul>
      <div id="nav-content-highlight"></div>
   </nav>
   <!-- <input id="nav-footer-toggle" type="checkbox" />
   <div id="nav-footer">
      <div id="nav-footer-heading">
         <div id="nav-footer-avatar">
            <img
               src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"
            />
         </div>
         <div id="nav-footer-titlebox">
            <a id="nav-footer-title" href="#" target="_blank">Xexiu</a><span
               id="nav-footer-subtitle">Admin</span
            >
         </div>
         <label for="nav-footer-toggle">
            <Icon name="icon-park:up" height="18" width="18" class="fas" />
         </label>
      </div>
      <div id="nav-footer-content">
         <lorem
         >ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</lorem
         >
      </div>
   </div> -->
</xe-sidebar>

<script>
   import { hideOnClickOutside, markAsCurrentPage } from '@js/utils';

   class Sidebar extends HTMLElement {
      constructor() {
         super();
         const navToggleBurger = this.querySelector('label[for="nav-toggle"]') as HTMLElement;
         const links = this.querySelectorAll('[data-sidebarLink]');

         const timer = setTimeout(() => {
            markAsCurrentPage(links);
            clearTimeout(timer);
         }, 50);

         const outsideClick = (event: Event) => {
            event.stopPropagation();
            hideOnClickOutside(this, (event: Event, element: HTMLElement) => {
               const { target } = event;
               const sidebarToggle = element.querySelector('#nav-toggle') as HTMLInputElement;
               const navFooterSidebarToggle = element.querySelector('#nav-footer-toggle') as HTMLInputElement;

               if (!this.contains(target as HTMLElement)) {
                  // Check if the sidebar is in an open state
                  if (!sidebarToggle.checked) {
                     if(navFooterSidebarToggle) {
                        navFooterSidebarToggle.checked = false;
                     }

                     const timer = setTimeout(() => {
                        sidebarToggle.checked = true;
                        removeClickListener();
                        clearTimeout(timer);
                     }, 200);
                  }
               }
            });
         };

         const removeClickListener = () => {
            document.removeEventListener('click', outsideClick);
         };

         navToggleBurger.addEventListener('click', outsideClick);
      }
   }

   customElements.define('xe-sidebar', Sidebar);
</script>
