---
import CopyrightFooter from '@components/CopyrightFooter.astro';
import Link from '@components/Link.astro';
import SocialIcons from '@components/SocialIcons.astro';
import socialIcons from '@schemas/social-icons.json';
---

<footer>
   <div class="footer-wrapper">
      <CopyrightFooter />
      <small>
         <Link
            href="/rss.xml"
            text="Subscribe to RSS"
            style="primary"
            icon={{
               name: 'tabler:rss',
               side: 'right',
               width: '16',
               height: '16',
            }}
            data-normal-link
         />
      </small>
   </div>
   <SocialIcons data={socialIcons} classes="social-icons" />
</footer>

<style>
   :where(footer) {
      width: 100%;
      padding: var(--space-sm);
      padding-left: 100px;
      font-size: var(--fs-sm);

      .footer-wrapper {
         display: flex;
         justify-content: space-between;
         align-items: center;
         max-width: 1500px;
         margin-inline: auto;
         gap: var(--space-sm);
         & a {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
         }
      }

   }
   @media screen and (width <= 500px) {
      :where(footer) {
         padding-left: 0;
      }
}
</style>
