---
import Link from '@components/Link.astro';
import data from '@schemas/main-nav-data.json';
---

<nav class="header-main-nav" aria-label="primary">
   <ul>
      {
         data.map((item) => (
            <li>
               <Link
                  icon={{
                     name: item.iconName,
                     side: 'left',
                     width: '30',
                     height: '30'
                  }}
                  href={item.path}
                  style="primary"
                  isFilled={false}
                  data-navLink
               />
            </li>
         ))
      }
   </ul>
</nav>

<script>
   const navLinks = document.querySelectorAll('[data-navLink]');

   navLinks.forEach((link) => {
      if (link.getAttribute('href') === window.location.pathname) {
         link.setAttribute('aria-current', 'page');
      }
   });
</script>

<style>
   .header-main-nav {
      display: flex;
      margin-left: 20px;
      ul {
         display: flex;
         align-items: center;

            a[data-navLink] {
            color: #222;
         }
      }
   }
</style>
