<!doctype html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         href="/admin-cms-config/config.yml"
         type="text/yaml"
         rel="cms-config-url"
      />
      <title>Content Managment System</title>
      <script
         src="https://identity.netlify.com/v1/netlify-identity-widget.js"
         is:inline></script>
   </head>
   <body>
      <script
         src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"
         is:inline></script>
      <script>
         import { netlifyIdentityLoad } from './cms';

         CMS.registerPreviewStyle('/src/styles/blog.css');
         netlifyIdentityLoad(window.netlifyIdentity);
      </script>
   </body>
</html>

<script>
import { setCookie } from '@js/utils';
declare global {
    interface Window { netlifyIdentity: any; }
}

if (window.netlifyIdentity as any) {
   localStorage.setItem('isAdmin', !!window.netlifyIdentity.currentUser() as any);
   setCookie('isAdmin', 'true', 30, import.meta.env.PROD ? 'xexiu.netlify.app' : 'localhost');
}
</script>

<style is:inline>
   img[alt="Logo"] {
      width: 250px;
   }
</style>
