#footer {
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1500px;
        margin-inline: auto;
        gap: var(--space-sm);
        width: 100%;
        padding: 0 10px;
        font-size: var(--fs-3sm);

        .xml-wrapper {
            display: flex;
        }

        & a {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
        }
    }

    .build-date {
        display: none;
        visibility: hidden;
        height: 0;
    }
}
