---
import CopyrightFooter from '@components/CopyrightFooter.astro';
import { Link } from '@components/common/link';
import './main-footer.css';

const buildDate = __DATE__;
---

<footer id="footer" class="main-footer">
   <div class="footer-wrapper">
      <CopyrightFooter />
      <Link
         href={`/rss.xml?${Math.random()}`}
         text="Suscríbete a RSS"
         icon={{
            name: 'tabler:rss',
            side: 'right',
            width: '16',
            height: '16',
         }}
         data-normal-link
         classes="xml-wrapper"
      />
   </div>
   <span class="build-date">Build at: {buildDate}</span>
</footer>
