---
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
import DemoLinks from '@layouts/demos/DemoLinks.astro';
import DemosLayout from '@layouts/demos/DemosLayout.astro';

const paths = import.meta.glob( '../html_css/*/*.astro');
---
<DemosLayout title="Astro Components Demo">
   <Breadcrumbs
      slot='breadcrumb'
      links={[
         { name: 'Inicio', path: '/' },
         { name: 'Demos', path: '/demos' },
         { name: 'HTML/CSS Demos', path: '/demos/html_css', linkIsActive: 'is-active' }
      ]}
   />
   <h1>En construcción!</h1>
   <DemoLinks {paths} routeName="html_css" />
</DemosLayout>
