---
import { Posts } from '@components/postcard';
import { getCollectionFor } from '@js/server/utils';
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/portfolio-data.json';
import { getCollection } from 'astro:content';

const isAdmin = !!Astro.cookies.get('isAdmin');
const portfolios = await getCollectionFor('portfolio', isAdmin, getCollection);
---

<MainLayout title={data.title} description={data.description}>
   <section class="container" aria-label="Publicaciones Recientes">
      <div class="post-container">
         <Fragment>
            <Posts entries={portfolios} />
         </Fragment>
      </div>
   </section>
</MainLayout>
