---
import Posts from '@components/postcard/Posts.astro';
import { getCollectionFor } from '@js/server/utils';
import { isUserAdmin } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/portfolio-data.json';
import { getCollection } from 'astro:content';

const cookie = Astro.request.headers.get('cookie');
const isAdmin = isUserAdmin(cookie);
const portfolios = await getCollectionFor('portfolio', isAdmin, getCollection);
---

<MainLayout title={data.title} description={data.description}>
   <section class="container" aria-label="Publicaciones Recientes">
      <div class="post-container">
         <Fragment>
            <Posts entries={portfolios} />
         </Fragment>
      </div>
   </section>
</MainLayout>
